<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


<form >
    <p>
        apk文件：<input name="name" />
    </p>
    <button>选择</button>
</form>

<form>
    <button>上传</button>
</form>




</body>

</html>